---
---

@import "{{ site.theme }}";

header {
font-family: cursive;
}

#main-content h1 {
  font-family: cursive;
}

#main-content h2 {
  font-family: cursive;
}

#main-content h3 {
  font-family: cursive;
}
